* {
  box-sizing: border-box;
}
.detailMainBtn {
  padding: 7px 14px !important;
  border-radius: 20px !important;
  /* font-size: 14px !important; */
  /* color: white !important; */
  /* font-style: italic; */
  /* margin: 7px; */
}

.detailMainBtn:hover {
  background-color: #a3a3a3 !important;
  padding: 6px 14px !important;
  border-radius: 20px !important;
  color: white !important;
}

.btnbar {
  height: 100px;
}

.detailProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit:cover;
}
.icon {
  height: 50px;
}
.profileIcon {
  width: 25px;
  height: 25px;
  margin: 0px 0px 5px 3px;
}
#empty:hover, #full:hover{
	cursor: pointer;
}
.profileWriter {
  font-size: 15px;
}

.profileWriter a {
  color:black;
  text-decoration:none;
}
.profileWriter a:hover {
  color:black;
  text-decoration:underline;
}

.stImgDiv {
  height: auto;
  /* height: 310px; */
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 0 !important;
}

.stImgDiv img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
/* .likeFont,
.commentFont {
  font-size: 16px;
} */
.contents {
  font-size: 17px;
  
}
.writeDate {
  font-size: 14px;
  color: gray;
}

.boardBtns button{
  font-weight: 600;
  font-size: 14.5px;
  color: #515151;
  border-radius:18px;
}
.boardBtns button:hover{
  background-color: #515151;
  color:white;
  border-radius:18px;
}

.boardDeleteAdmin{
  font-size: 16px !important;
  color: #D31111 !important;
}

.boardDeleteAdmin:hover{
  background-color: #D31111 !important;
  color:white !important;
}

.replyInput {
  position: relative;
}
.replyInput img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px !important;
  margin-top:9px;
}
.replyInput input {
  position:absolute;
  right:0px;
  padding:7px 70px 7px 10px !important;
  width: 90%;
  border-radius: 30px;
  border: 1px solid lightgray;
  outline: 1px solid gray;
}

.replyBtn {
  position: absolute;
  right: 4%;
  top: 21px;
  bottom: 0;
  line-height: 16px;
  font-weight: 500;
  font-size: 15px;
  color: rgb(27, 27, 27);
  /* text-align: center;
  font-stretch: wider; */
  cursor: pointer;
}

.replyDiv * {
  vertical-align: middle;
}

.replyInfo,
.reply {
  display: inline-block;
}
.reply, .replyTextarea{
	width:100%;
	margin-top: 10px;
/* 	padding:7px 30px 7px 7px !important; */
	margin-left:10px !important;
	word-break:break-all;
}
.replyTextarea{
	resize:none;
	height:50px;
}
.writer {
  font-weight: 15.5px;
  font-weight: 500;
  margin-right: 10px !important;
}
.writer a{
	color:black;
	text-decoration:none;
}
.writer a:hover{
	color:black;
	cursor:pointer;
	text-decoration:underline;
}
.writeDate {
  font-size: 14px;
}

.btns button {
  font-size: 14px !important;
  color: gray;
}

@media (max-width: 992px) {
  .col-3 {
    display: none;
  }

}
