<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="BoardLike">
  
     <select id="getLike" resultType="kh.spring.dto.BoardLikeDTO">
      select * from board_like where id = #{loginId}
     </select>
     
    <select id ="findLike" resultType="int">
       select count(*) from board_like where parent_seq= ${seq} and id=#{loginId}
    </select>
     
  </mapper>