<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="StyleBoardReply">
  
  	<insert id="insert">
  		insert into style_board_reply values(style_board_reply_seq.nextval, ${parent_seq}, #{writer}, #{contents}, #{profileSysName}, sysdate, 'temp' )
  	</insert>
  	
  	<select id="selectByParent" resultType="kh.spring.dto.StyleBoardReplyDTO">
  		select * from style_board_reply where parent_seq = ${parent_seq} order by seq desc
  	</select>
  	
  	<delete id="delete">
  		delete from style_board_reply where seq = #{seq}
  	</delete>
  	
  	<update id="update">
  		update style_board_reply set contents=#{contents}, writeDate=sysdate where seq=${seq}
  	</update>
  	
  	<!-- 게시글 댓글 개수 출력 -->
  	<select id="getCmtCount" resultType="int">
  		select count(*) from style_board_reply where parent_seq = #{parent_seq}
  	</select>
  	
  	<!-- 프로필 사진 수정 -->
  	<update id="updateProfile">
  		update style_board_reply set profileSysName = #{profileSysName} where writer=#{loginId}
  	</update>
  	
  </mapper>